.site-footer {
	padding: 0rem 0;
    margin-top: 0rem;
//    background-color: $gray-100;
}

.footerLogo{
    position:relative;
    background-image: url('images/avellar-logo.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 95px;
    height: 102px;
    margin: 0 auto;
    transform: translateY(-86px);
    z-index: 2;
}

.site-info {
	text-align: center;
	margin-bottom: 6rem;	
}