.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post {
	margin-bottom: 4em;
	padding-bottom: 1em;
}

.post-thumbnail {
	margin-bottom: 1em;
}

.entry-meta,
.entry-footer {
  font-size: .75rem;
  margin: .75em 0 2em;

  .svg-inline--fa {
    color: $gray-600;
    margin-right: .3em;
  }
  span {
    margin: 0 1.5em .4em 0;
    display: inline-block;

    &:last-child {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $gray-600;

      &:hover {
        color: $gray-900;
      }
    }
  }
	.edit-link {
		.btn {
      		color: $white;

      	&:hover {
	        color: $white
	    }
	}
  }
}

/* Posts Navigation */
.nav-links {
	display: flex;
	justify-content: space-between;
}

/* Screenreaders */
.screen-reader-text {
	@include sr-only;
}

/* 404 page */
.error404 {
	.content-area {
		@include make-col-ready();
		@include make-col(12);	
	}
}

body {
  font-family: Abel;
}

/* HOME PAGE STYLES */

.home-banner{
  position: relative;
  top: -111px;
  left: 0px;
  background-position: center top;
  background-repeat: no-repeat;
  margin-top:0px;
  height: 750px;
}


.introText{
  border-top: 1px solid #fff;
  margin-top: 240px;
  padding-top: 4rem;
  font-size: 60px;
  line-height: 1.2;
  padding-right: 10rem;

}

/* SERVICE BLOCKS */

#serviceWrapper{
  padding: 5rem;
  overflow: hidden;
  transform: translateY(-160px);
}
.serviceBlock{
  height: 450px;
  overflow:hidden;
  padding: 0px;
//  margin: 5px;
//  border: 1px solid white;
}
.box1, .box2, .box3 {
  overflow:hidden;
  position:relative;
  padding: 0px;
}


.serviceImage {
  height: 450px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
.serviceContentWrapper {
  position: absolute;
  padding: 0 px;
  height: auto;
  top:160px;
  left:0; 
}
.titleBG{
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  height: 40px;
  color: #ffffff;
  padding-top:3px;
  h3 {
    padding:0;
    margin-bottom:4px;
  } 
  a {
    color: #fff;
    text-decoration: none;
  }  
  a:hover{
    color: #fff;
    text-decoration: none;
  }
}
.descBlock {
  opacity: 0;
  height: 0px;
  color: #fff;
  padding: 2.5rem;
  transition: all 0.25s ease-out;
//  transition: opacity 0.5s ease-out 0.5s;
}
.descBlock p {
  opacity: 0;
  color: #fff;
  transition: opacity 0.25s ease-out 0.25s;
}
.descBlock button {
  opacity: 0;
  border: none;
  background-color: #f2f2f2;
  transition: opacity 0.5s ease-out 0.5s;
  
}
.serviceBlock:hover{
  .descBlock {
    opacity:1;
    height: 250px;
    background-color: #ccc;
    transition: all 0.5s ease-out;
    p {
      opacity: 1;
    }
    button {
      opacity: 1;
    }
  }
}
